
img{
    width: 500px;
    height: 500px;
}
.img{
    width: 500px;
    margin-right: 500px;
}
.text{
    height: 500px;
    margin-left: 900px;
    margin-top: -500px;
}
#brend{
    color: yellow;
}